In [1]:
# Dependencies
import pandas as pd
import glob

In [2]:
# Merging csv files (without repeating header)
interesting_files = glob.glob("*.csv") 
df = pd.concat((pd.read_csv(f, header = 0) for f in interesting_files))
df

,Date,Trips over the past 24-hours (midnight to 11:59pm),Miles traveled today (midnight to 11:59 pm),Total Annual Members (All Time),24-Hour Passes Purchased (midnight to 11:59 pm),3-Day Passes Purchased (midnight to 11:59 pm)
0,1/1/19,22145,44131,297823,2429,49
1,1/2/19,38249,58975,297908,1062,36
2,1/3/19,42181,62500,297976,969,31
3,1/4/19,44420,65739,298017,1173,33
4,1/5/19,17636,24326,298048,462,8
5,1/6/19,31764,50481,298094,1711,31
6,1/7/19,36928,52310,298152,514,18
7,1/8/19,41728,60469,298218,654,23
8,1/9/19,44882,63480,298263,646,23
9,1/10/19,39449,53225,298299,478,13
10,1/11/19,33196,44226,298331,465,23
11,1/12/19,25431,35133,298361,772,26
12,1/13/19,23020,33018,298399,700,18
13,1/14/19,35408,48021,298439,402,9
14,1/15/19,39538,54751,298470,511,19
15,1/16/19,40854,56553,298510,513,7
16,1/17/19,39417,53430,298546,463,14
17,1/18/19,34478,47215,298574,542,27
18,1/19/19,23933,34580,298595,865,28
19,1/20/19,14440,19131,298616,368,8
20,1/21/19,10392,11911,298632,141,5
21,1/22/19,28913,37788,298665,315,14
22,1/23/19,42028,59442,298692,526,10
23,1/24/19,20328,27931,298721,260,7
24,1/25/19,39298,54567,298748,621,21
25,1/26/19,26607,38634,298778,933,18
26,1/27/19,30338,48280,298828,1510,19
27,1/28/19,36173,49109,298878,448,13
28,1/29/19,31355,42066,298919,341,12
29,1/30/19,25496,33178,298947,263,8
...,...,...,...,...,...,...
60,3/2/19,18001,27381,300213,570,25
61,3/3/19,23240,35764,300264,1115,22
62,3/4/19,28424,39154,300319,563,23
63,3/5/19,37103,50155,300367,552,24
64,3/6/19,33287,42845,300409,376,27
65,3/7/19,35913,46582,300450,468,15
66,3/8/19,40416,55748,300503,852,32
67,3/9/19,38929,68739,300574,3010,35
68,3/10/19,18897,28056,300611,662,16
69,3/11/19,52412,80705,300691,1749,56
70,3/12/19,47214,66518,300757,1003,40
71,3/13/19,50121,71556,300825,1194,42
72,3/14/19,57476,86864,300904,1826,82
73,3/15/19,57517,95073,300987,2843,119
74,3/16/19,42144,74307,301086,3369,97
75,3/17/19,36826,64440,301187,2755,73
76,3/18/19,46535,68775,301278,1361,54
77,3/19/19,52997,78320,301381,1602,49
78,3/20/19,55396,83442,301476,1723,58
79,3/21/19,21248,27005,301520,342,14
80,3/22/19,35477,49691,301579,1076,51
81,3/23/19,37379,61407,301671,2693,74
82,3/24/19,50318,100843,301827,5896,79
83,3/25/19,53463,79824,301952,1562,64
84,3/26/19,55421,81425,302083,1715,49
85,3/27/19,54483,78975,302176,1583,56
86,3/28/19,58538,87465,302430,1966,87
87,3/29/19,59324,91975,302587,2573,103
88,3/30/19,66672,144759,302941,9151,135
89,3/31/19,32768,52486,303060,1916,52

In [3]:
# Export file as a CSV
df.to_csv("2019-citibike-tripdata_JantoJun.csv")